{% extends './base.html' %}
{% load static%}
{% block title %}E-Store About Us{% endblock title %}

{% block content %}
<section class="py-5 text-center container">
    <div class="row py-lg-5">
      <div class="col-lg-6 col-md-8 mx-auto">
        <h1 class="fw-light">We got everything you wish, desire and want</h1>
        <p class="lead text-muted">E-Store is the largest online retailer in the world. Since 2022, we have been realizing the little dreams and grand plans of millions of people. We can find literally everything. We sell at a fair price and provide a guarantee, because we believe that online shopping should be as convenient and safe as possible. And every time someone clicks "Buy", we realize that we are doing the right thing.</p>
      </div>
    </div>
  </section>

{% endblock %}