{% extends './base.html' %}
{% load static%}
{% block title %}E-Store Home{% endblock title %}

{% block content %}
<section class="py-5 text-center container">
    <div class="row py-lg-2">
      <div class="col-lg-6 col-md-8 mx-auto">
        <h1 class="fw-light">We got everything you wish, desire and want</h1>
        <p class="lead text-muted">E-Store is the largest online retailer in the world. Since 2022, we have been realizing the little dreams and grand plans of millions of people. We can find literally everything. We sell at a fair price and provide a guarantee, because we believe that online shopping should be as convenient and safe as possible. And every time someone clicks "Buy", we realize that we are doing the right thing.</p>
        <p>
          <a href="#" class="btn btn-primary my-2">Main call to action</a>
          <a href="#" class="btn btn-secondary my-2">Secondary action</a>
        </p>
      </div>
    </div>
  </section>

  <div class="album py-5 bg-light">
    <div class="container">

      <div class="row row-cols-1 row-cols-sm-2 row-cols-md-3 g-3">
        {% for product in products %}
        <div class="col">
          <div class="card shadow-sm">
            <img class="bd-placeholder-img card-img-top" width="100%" height="225" src="{{ product.image.url }}" </img>

            <div class="card-body">
              <p class="card-text">
                    <a class="text-dark text-decoration-none" href=" {{ product.get_absolute_url }}">{{ product.title }} </a>
                </p>
              <div class="d-flex justify-content-between align-items-center">
                <div class="btn-group">
                  <button type="button" class="btn btn-sm btn-outline-secondary">View</button>
                  <button type="button" class="btn btn-sm btn-outline-secondary">Edit</button>
                </div>
                <small class="text-muted">{{ product.category }}</small>
              </div>
            </div>
          </div>
        </div>        
        {% endfor %}


      </div>
    </div>
  </div>
{% endblock %}